.sr-only-focusable:active, .sr-only-focusable:focus {
  background-color: $white;
  color: $black;
  opacity: 1;
  padding: 10px 15px;
  position: fixed;
  box-shadow: 0 0 0 4px $primary;
  border-color: $primary;
  outline: none;
  z-index: 1085; }
  .sr-only-focusable:active.skip-link, .sr-only-focusable:focus.skip-link {
    top: 5px;
	}
.sr-only-focusable.top-link:active, .sr-only-focusable.top-link:focus {
	position: fixed !important;
	top: 10px;
	
    outline: 2px dashed $white;
    outline-offset: 5px;	

}

.btn {
    border: 2px $primary solid;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 1rem;
    color: $white;
    transition: 0.3s ease-in-out;
	
	
	@media (min-width: 1200px) {
		padding: 10px 18px;
	}
	
	&:hover {
		background-color: $primary;
		color: $white;
	}
	
	&:focus{
        outline: 2px dashed $primary;
        outline-offset: 5px;	
	}
		
}

.btn-primary {
    border: 2px $primary solid;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 1rem;
    color: $white;
    transition: 0.3s ease-in-out;
    background-color: $primary;
	
	&:hover {
		background-color: $primary-dark;
		border: 2px $primary-dark solid;
		color: $white;
		text-decoration: none;
	}	
}

.btn-secondary {
    border: 2px $black solid;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 1rem;
    color: $white;
    transition: 0.3s ease-in-out;
    background-color: $black;
	
	&:hover {
		background-color: $grey-dark;
		border: 2px $grey-dark solid;
		color: $white;
		text-decoration: none;
	}	
}

.btn-white {
    border: 2px $primary solid;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 1rem;
    color: $primary;
    transition: 0.3s ease-in-out;
    background-color: $white;
	
	&:hover {
		background-color: $primary-dark;
		border: 2px $primary-dark solid;
		color: $white;
		text-decoration: none;
	}	
}

.btn-off-white {
    border: 2px $primary solid;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 1rem;
    color: $primary;
    transition: 0.3s ease-in-out;
    background-color: $off-white;
	
	&:hover {
		background-color: $primary-dark;
		border: 2px $primary-dark solid;
		color: $white;
		text-decoration: none;
	}	
}

.btn-outline {
    border: 2px $primary solid;
    border-radius: 30px;
    padding: 8px 14px;
    font-size: 1rem;
    color: $dark;
    transition: 0.3s ease-in-out;
    background-color: transparent;
	
	&:hover {
		background-color: $primary-dark;
		border: 2px $primary-dark solid;
		color: $white;
		text-decoration: none;
	}	
}

img.play-video{	
	max-width: 50px;
}

.menu-hide {
    display: none !important;
}