.header-section{
	z-index: -1;
    position: relative;
	
	@media (max-height: 500px) and (min-width: 500px) {
		
		min-height: 600px;
		padding-top: 75px;
		
		.header{
			position: relative;
		}
		
		.parallax-window{
			min-height: 600px;
		}
		
		.scroll-down{
			position: relative;
		}
		
	}
	
}

.parallax-window {
    background: 0 0;
    min-height: 50vh;
	
	@include media-breakpoint-up(md) {
    	min-height: 60vh;
	}
	
	
}
@media screen and (orientation: landscape) and (max-width: 767.98px) {
    .parallax-window {
        min-height: 600px;
    }
}
.parallax-window img {
    position: fixed;
}

.off-white {
    background-color: $off-white!important;
}

.primary {
    background-color: $primary;
	
	h3{
		color: $off-white;
	}
}