.uor-modal-plyr{
	
    .modal-content, .modal-body{
        padding: 0;
		border-radius: 20px;
		overflow: hidden;

        .close{
            position: absolute;
            z-index: 999;
            right: 15px;
            top: 15px;
            padding: 10px 15px;
            background-color: $white;
            border-radius: 20px;
            opacity: 1;
            color: $primary;
			
			&:hover{
           		background-color: $primary;
           		color: $white;
				opacity: 1;
			}
			
			&:focus{
				
				outline: 2px dashed $white;
				outline-offset: 5px;					
				
			}
        }
    }
}