#primary-nav{
	
    .btn.btn-white{
		
		border-color: $white;
		color: $black;
		
		&:focus{
            transition: none;
            outline: 2px dashed $white;
            outline-offset: 5px;
            box-shadow: none;

        }			

        &:hover{

            background-color: $white;
            border-color: $white;
            color: $primary;

        }

    }	
	
	&.scrolled{
		
		.btn.btn-white{
			
			
			border-color: $primary;
			background-color: $white;
			background-color: transparent;
			color: $black;
			
			&:focus{
				
            outline: 2px dashed $primary;

				
			}
			
			&:hover{
				
				background-color: $primary;
				border-color: $primary;
				color: $white;
				
			}
			
		}
		
	}
	
	
}

.nav-small{
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        padding-left: 0;
        margin-bottom: 0;

        li{

            a.nav-link{
            font-size: 0.75rem;
            color: $white;
            font-weight: 400;
            letter-spacing: 0.5px;
            padding: 0px 10px !important;
            border-right: 1px solid $white;
            text-transform: uppercase;
				
            @include media-breakpoint-down(sm) {
            	border-right: none;
            }

                &:hover{
                    text-decoration: underline;
                    color: rgba($white, 0.9)
                }

                &:focus{

                    outline: 2px dashed $white;
                    outline-offset: 5px;
                    box-shadow: none;

                }							
            }

            &:last-of-type{
                a {
                    border-right: none; 
                }
            }					
        }
    }
}


.icon {
    position: relative;
    text-align: center;
    width: 0;
    height: 0;
    padding: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    -moz-border-radius: 20px 20px 20px 20px;
    -webkit-border-radius: 20px 20px 20px 20px;
    -khtml-border-radius: 20px 20px 20px 20px;
    color: $white;
	
	
	i {
		font-size: 20px;
		position: absolute;
		left: 8px;
		top: 10px;
	}
	
	
	&.social {
		float: left;
		margin: 0 10px 0 0;
		cursor: pointer;
		background: 0 0;
		color: $white;
		border: 2px solid $white;
		transition: 0.5s;
		-moz-transition: 0.5s;
		-webkit-transition: 0.5s;
		-o-transition: 0.5s;
		
		&:hover{
			background: $primary;
			border-color: $primary;
			color: $white;
			transition: 0.5s;			
		}
		
		&:focus{
			
			transition: none;
            outline: 2px dashed $white;
            outline-offset: 5px;	
			
		}
	}
}

 // Slide navagation 
.slide_nav_backdrop{
	position: fixed;
	z-index: 1079;
	height: 100%;
	width: 100%;
	background-color: rgba( $black, 0.2 );
   -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
	
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}


.slide-content{
	
	padding: 60px 30px 30px;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1080;
    top: 0;
    right: 0;
    background-color: $white;
    overflow-x: hidden;
    transition: width 0.5s;
    visibility: hidden;	

	#close{
	box-shadow: none;
		
		.fa-arrow-left{
			color: $primary;
		}
	}
	
	
	&.active {
		width: 600px;
		max-width: 100%;
	}
	
	
	h2{
		color: $primary;
	}
	
	.subject-navigation{
    list-style: none;
    margin-left: -7px;
    margin-right: -7px;
    width: 100%;
    display: inline-block;
		
		li{
        position: relative;
        width: 100%;
        float: left;
    	margin: 5px 7px;
			
        &:hover{
            text-decoration: none;
        }
			
			a{
				display: block;
                border: 2px rgba($primary-dark, 0.25) solid;
				padding: 14px 42px 14px 18px;
				font-size: 1rem;
                transition: .3s ease-in-out;
				color: $grey-dark;
    			border-radius: 25px;

				&:hover{
					text-decoration: none;
				}
				
				&::after{
					font-style: normal;
					font-variant: normal;
					text-rendering: auto;
					-webkit-font-smoothing: antialiased;
					font-family: "Font Awesome 5 Pro";
					font-weight: 400;
					content: "\f35d";
					top: 50%;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					position: absolute;
					display: block;
					right: 15px;
				}
				
				&:focus{
					transition: none;
					outline: 2px dashed $primary;
					outline-offset: 5px;
				}
				
				i{
					margin:4px;
				}

			}
		}
	}
}




.slide-content a:focus,
.slide-content button:focus {
  outline: 2px dashed $primary;
}


main a:focus,
.open-nav-btn:focus {
  outline: 2px solid blue;
  outline-offset: 5px;
}


.slide-content #close{
  	padding: 10px 0px;
	font-size: 1.1rem;
}

.close-btn {
  font-size: 25px;
  color: $white;
  background-color: transparent;
  border: none;
}

.slide-content a:hover,
.slide-content a:focus {
  text-decoration: underline;
}

.slide-content .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


.menu-hide {
	display: none !important;
}

.pgug{
	width: 100%;
	
	@include media-breakpoint-down(xs) {
		display: block;
		margin-bottom: 10px;
	}
	
	.btn.btn-outline{
		width: 50%;
		padding: 15px;
		margin-bottom: 15px;
		
		@include media-breakpoint-down(xs) {
			width: 100%;
			margin-bottom: 5px;
			margin-left: 0px;
		}
		
		&.ug{
			border-radius: 50px 0px 0px 50px!important;
			
			@include media-breakpoint-down(xs) {
				border-radius: 30px!important;
			}
		}		
		&.pg{
			border-radius: 0px 50px 50px 0px!important;
			margin-left: 0!important;
			
			@include media-breakpoint-down(xs) {
				border-radius: 30px!important;
			}
			
		}
		
		&:hover{
			background: rgba($grey-light, 0.25);
			color: $grey-dark;
		}
		
		&.active{
			background: $primary;
			color: $white;
			
			&:hover{
				background: $primary-dark;
			}
		}
	}
}
