@keyframes plyr-progress {
    to {
        background-position: var(--plyr-progress-loading-size, 25px) 0;
    }
}
@keyframes plyr-popup {
    0% {
        opacity: 0.5;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes plyr-fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.scroll-down {
    bottom: 0;
    height: 100px;
    left: 0;
    margin: 0 auto;
    right: 0;
    text-align: center;
    position: fixed;
}
@media (max-width: 768px) {
    .scroll-down {
        position: relative;
    }
}
.scroll-down-text {
    color: $white;
    letter-spacing: 0.5px;
    font-size: 1.25rem;
}
.scroll-down-bar {
    background: $white;
    bottom: 0;
    display: inline-block;
    height: 65px;
    left: 0;
    margin: 0 auto;
    overflow: hidden;
    position: absolute;
    right: 0;
    width: 2px;
}
.scroll-down-bar::before {
    animation: scrollDown 1.5s infinite;
    background: #ccc;
    content: "";
    display: inline-block;
    height: 35px;
    left: 0;
    position: absolute;
    top: 0;
    width: 2px;
    z-index: 1;
}
@keyframes scrollDown {
    0% {
        transform: translate3d(0, -32px, 0);
    }
    50% {
        animation-timing-function: ease-out;
        transform: translate3d(0, 0, 0);
    }
    100% {
        animation-timing-function: ease-in;
        transform: translate3d(0, 65px, 0);
    }
}
* :focus {
    outline: rgba(92, 111, 204, 0.5) 2px solid;
    outline-offset: 5px;
}
body {
    overflow-x: hidden;
    width: 100%;
    touch-action: manipulation;
    background: $white;
}
.scratched {
    background-color: $white;
}
.black {
    background-color: $black;
}
.grey {
    background-color: #f5f5f4;
}
.wrapper-footer {
    background-color: #4a4a4a;
    position: relative;
}
.black.mid-section::before {
    content: "";
    height: 100px;
    background: $black;
    background: linear-gradient(0deg, $black 0, rgba(0, 0, 0, 0) 100%);
    margin-top: -100px;
}

@media (min-width: 768px) {
    .call-to-action-container {
        padding-bottom: 100px;
    }
}
.cta-section h3 {
    font-size: 1.6rem;
    color: $primary;
    font-family: Effra-Medium, Arial, Verdana;
}
.cta-section p {
    font-size: 1.1rem;
    line-height: 1.4;
    color: #50535a;
}
@media (min-width: 1200px) {
    .cta-section h3 {
        font-size: 1.8rem;
    }
    .cta-section p {
        font-size: 1.2rem;
        line-height: 1.55;
    }
}
.cta-section-b h4 {
    font-size: 1.4rem;
    color: $primary;
    font-family: Effra-Medium, Arial, Verdana;
}
.cta-section-b p {
    font-size: 1.05rem;
    line-height: 1.4;
    color: #50535a;
}
@media (min-width: 1200px) {
    .cta-section-b p {
        font-size: 1.2rem;
    }
}



#wrapper-footer {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
#wrapper-footer p {
    font-size: 16px;
    font-size: 1rem;
    color: $white;
}
.bg-light {
    background-color: $white !important;
}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 991.98px) {
    .nav-link {
        text-align: center;
        padding: 1rem;
    }
}
@media (max-width: 991.98px) {
    .nav-item {
        margin-bottom: 5px;
        padding: 0 5px;
    }
}
@media (max-width: 1199.98px) {
    .nav-small {
        width: 100%;
        overflow-y: scroll;
    }
    .nav-small ul {
        flex-wrap: nowrap;
    }
    .nav-small li {
        margin-bottom: 0;
	}
}
@media (max-width: 767.98px) {
	.nav-small ul {
        flex-wrap: wrap;
    }
	
	.nav-small li{
		margin-bottom: 0;
		width: 100%;
		padding: 20px;
		border: 1px solid white;
		border-bottom: 0;
    }
	
	.nav-small li:last-of-type{
		border-bottom: 1px solid white;
	}

}
@media (max-width: 1199.98px) {
    .nav-small li a,
    .nav-small li button {
        white-space: nowrap;
    }
}
@media (min-width: 1600px) {
    .container {
        max-width: 1440px;
    }
}
.hide-show {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 10px;
    text-align: left;
}
.accordion .card {
    margin-bottom: 1rem;
    border: none;
    border-radius: 0;
}
.accordion .card .card-header {
    padding: 1.5rem 1.25rem;
    cursor: pointer;
    position: relative;
}
.accordion .card .card-header h2 {
    font-family: Effra-Medium, Arial, Verdana;
    text-align: left;
    font-size: 1.2rem;
    text-transform: none;
    color: #4a4a4a;
}
.accordion .card .card-header i {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.accordion .card .card-header:focus {
    background-color: #e5e5e5;
}
.accordion .card .card-header:focus h2 {
    color: #4a4a4a;
}
.accordion .card .card-header.primary {
    background-color: $primary;
    color: $white;
}
.accordion .card .card-header.primary h2 {
    color: $white;
}
.accordion .card .card-header.primary:focus {
    background-color: $primary-dark;
}
.accordion .card .card-header.primary:focus h2 {
    color: $white;
}
.accordion .card .collapse {
    overflow: hidden;
}
.parallax-window {
    min-height: 100vh;
    background: 0 0;
}
@media screen and (orientation: landscape) and (max-width: 767.98px) {
    .parallax-window {
        min-height: 600px;
    }
}
.parallax-window img {
    position: fixed;
}
.parallax-window-slim {
    min-height: 75vh;
    background: 0 0;
}
@media screen and (orientation: landscape) and (max-width: 767.98px) {
    .parallax-window-slim {
        min-height: 500px;
    }
}
.parallax-window-slim img {
    position: fixed;
}
.section-half {
    min-height: 400px;
}
.call-to-action-container {
    margin-top: -73px;
}
.show-sm {
    display: none;
}
@media (min-width: 576px) {
    .show-sm {
        display: inline-block;
    }
}
.col-full {
    padding-left: 0;
    padding-right: 0;
    margin-left: calc(-100vw / 2 + 100% / 2);
    margin-right: calc(-100vw / 2 + 100% / 2);
    max-width: 100vw;
    width: 100vw;
    flex: 100vw;
    overflow-x: hidden;
}
.tns-ovh .tns-item {
    opacity: 0.5;
}
.tns-ovh .tns-slide-active {
    opacity: 1;
}
.tns-ovh {
    overflow: visible;
}
.uncert-header {
    height: 250px;
}
@media (min-width: 576px) {
    .uncert-header {
        height: 275px;
    }
}
@media (min-width: 768px) {
    .uncert-header {
        height: 375px;
    }
}
@media (min-width: 992px) {
    .uncert-header {
        height: 350px;
    }
}
@media (min-width: 1200px) {
    .uncert-header {
        height: 450px;
    }
}
@media screen and (min-width: 1600px) {
    .uncert-header {
        height: 600px;
    }
}
@media screen and (min-width: 1800px) {
    .uncert-header {
        height: 700px;
    }
}
@media screen and (min-width: 2000px) {
    .uncert-header {
        height: 800px;
    }
}
.header-img {
    height: 100vh;
}
.centre-md {
    text-align: center;
}
@media (min-width: 992px) {
    .centre-md {
        text-align: left;
    }
}
.white-text {
    color: $white;
}
.rdg-white-text {
    color: $white;
}
.rdg-cg-text {
    color: #e9eae8;
}
.rdg-red-text {
    color: $primary;
}
.rdg-orange-text {
    color: $primary;
}
.rdg-carbon-text {
    color: #434241;
}
.rdg-red {
    background-color: $primary !important;
}
.rdg-orange-before:before {
    background-color: $primary !important;
}
.rdg-red-before:before {
    background-color: #e0303b !important;
}
.rdg-cg-1 {
    background-color: #e9eae8 !important;
}
.rdg-cg-10 {
    background-color: #78818c !important;
}
.rdg-wg-1 {
    background-color: #eceae6 !important;
}
.rdg-wg-10 {
    background-color: #6c5e57 !important;
}
.rdg-carbon {
    background-color: #434241 !important;
}
.rdg-carbon-dark {
    background-color: #292928 !important;
}
.rdg-red-dark {
    background-color: $primary-dark !important;
}
body {
    font-size: 100%;
    font-family: Effra-Regular, Arial, Verdana;
    text-align: left;
    color: $black;
}
.intro {
    font-size: 1.1rem;
    line-height: 1.4;
}
@media (min-width: 576px) {
    .intro {
        font-size: 1.2rem;
    }
}
@media (min-width: 768px) {
    .intro {
        font-size: 1.3rem;
    }
}
@media (min-width: 1200px) {
    .intro {
        font-size: 1.4rem;
        line-height: 1.5;
    }
}
.nav-link {
    font-family: Effra-Regular, Arial, Verdana;
    font-size: 15px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}
.navbar-light .navbar-toggler {
    border: none;
    color: #434241 !important;
}
.pointer:hover {
    cursor: pointer;
}
h1 {
    font-family: Effra-Heavy, Arial, Verdana;
    color: $white;
    margin-bottom: 0;
}
@media (min-width: 375px) {
    h1 {
        font-size: 2rem;
    }
}
@media (min-width: 576px) {
    h1 {
        line-height: 1;
        margin-bottom: 5px;
    }
}
@media (min-width: 768px) {
    h1 span.text-right-h1 {
        width: 100%;
        display: block;
    }
}
.header {
    position: fixed;
    right: 1px;
}
@media (max-width: 768px) {
    .header {
        position: relative;
        padding-top: 15vh;
    }
}
.header .uor-logo {
    max-width: 150px;
}
@media (min-width: 768px) {
    .header .uor-logo {
        max-width: 200px;
    }
}
@media (min-width: 1200px) {
    .header .uor-logo {
        max-width: 250px;
    }
}

.header img {
    position: initial;
    max-width: 225px;
    margin-bottom: 30px;
}
.clip-add {
    background: url(/assets/images/grunge-texture-sm.png);
    background-repeat: repeat-x;
    background-position: 0 0;
    -webkit-font-smoothing: antialiased;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.h2,
h2 {
    display: block;
    font-family: Effra-Heavy, Arial, Verdana;
    font-size: 2.5rem;
    line-height: 1.25;
    color: $white;
    margin-bottom: 1px;
}
@media (min-width: 768px) {
    .h2,
    h2 {
        max-width: 100%;
        font-size: 4rem;
        margin-bottom: 5px;
    }
    .h2.text-right,
    h2.text-right {
        margin-top: -15px;
    }
}
.h3.lead {
    display: block;
    font-family: Effra-Heavy, Arial, Verdana;
    font-size: 1.5rem;
    line-height: 1;
    color: $white;
    margin-bottom: 2px;
}
@media (max-width: 320px) {
    .h3.lead {
        padding-bottom: 0;
    }
}
@media (min-width: 768px) {
    .h3.lead {
        font-size: 3rem;
        margin-bottom: -10px;
    }
}
h3 {
    line-height: 1.1;
}
@media (min-width: 1200px) {
    h3 {
        font-size: 2rem;
    }
}
h5 {
    font-family: Effra-Medium, Arial, Verdana;
    letter-spacing: 1px;
    margin-bottom: 1rem;
}
@media (min-width: 1200px) {
    h5 {
        font-size: 1rem;
    }
}
.bold {
    font-family: Effra-Medium, Arial, Verdana;
}
light {
    font-family: Effra-Regular, Arial, Verdana;
}
.hidden-xs {
    display: none;
}
@media (min-width: 576px) {
    .hidden-xs {
        display: inline-block;
    }
}
.hidden-sm {
    display: none;
}
@media (min-width: 768px) {
    .hidden-sm {
        display: inline-block;
    }
}
.hidden-md {
    display: none;
}
@media (min-width: 992px) {
    .hidden-md {
        display: flex;
    }
}
.hidden-lg {
    display: inline-block;
}
@media (min-width: 992px) {
    .hidden-lg {
        display: none;
    }
}
p {
    font-family: Effra-Regular, Arial, Verdana;
    font-size: 18px;
    font-size: 1.1rem;
    color: #4a4a4a;
}
@media (min-width: 1500px) {
    p {
        font-size: 18px;
        font-size: 1.2rem;
    }
}
.orange {
    color: $primary;
}
.subhead {
    font-family: Effra-Medium, Arial, Verdana;
}
@media (max-width: 767.98px) {
    .window-bees,
    .window-stripes {
        justify-content: flex-end !important;
        min-height: 500px;
    }
}
.window-bees .container,
.window-stripes .container {
    padding-left: 0;
    padding-right: 0;
}
@media (min-width: 768px) {
    .window-bees,
    .window-stripes {
        min-height: 525px;
    }
    .window-bees .container,
    .window-stripes .container {
        height: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.window-bees .stripes_inner,
.window-stripes .stripes_inner {
    font-family: Effra-Medium, Arial, Verdana;
    padding: 30px 30px 15px;
}
@media (max-width: 767.98px) {
    .window-bees .stripes_inner,
    .window-stripes .stripes_inner {
        background-color: $white;
    }
}
@media (min-width: 576px) {
    .window-bees .stripes_inner,
    .window-stripes .stripes_inner {
        padding: 30px 35px 15px;
    }
}
@media (min-width: 576px) {
    .window-bees .stripes_inner .col,
    .window-stripes .stripes_inner .col {
        background-color: $white;
        padding: 30px 30px 15px;
    }
}
.window-bees p,
.window-stripes p {
    font-family: Effra-Regular, Arial, Verdana;
    color: #4a4a4a;
}
.window-stripes-slim {
    min-height: 150px;
}
@media (max-width: 767.98px) {
    .window-bees {
        justify-content: flex-end !important;
        min-height: 500px;
        padding-top: 240px;
    }
}
.intro_inner {
    padding-top: 110px;
}
@media (min-width: 576px) {
    .intro_inner {
        padding-top: 150px;
    }
}
.intro_inner p {
    font-family: Effra-Medium, Arial, Verdana;
    color: $white;
    max-width: 550px;
    text-align: right;
}
@media (min-width: 576px) {
    .intro_inner p {
        margin-left: auto !important;
        font-size: 24px;
        font-size: 1.5rem;
    }
}
@media (max-width: 767.98px) {
    .intro_inner p {
        position: absolute;
        bottom: 30px;
        left: 30px;
        right: 30px;
    }
}
@media (max-width: 320px) {
    .intro_inner p {
        text-align: left;
        left: 15px;
    }
}
@media (max-width: 767.98px) {
    .full-width-image {
        padding-left: 0;
        padding-right: 0;
        margin-left: -60px;
        text-align: center;
    }
    .full-width-image img {
        max-width: calc(100% + 45px);
        width: calc(100% + 45px);
    }
}
.full-width-image {
    text-align: center;
}
p.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.bootstrap-select > .dropdown-toggle.bs-placeholder:focus {
    color: $white;
}
.text-container {
    background-color: $white;
    position: relative;
    padding-top: 20px;
    max-width: 500px;
    display: inline-block;
}
@media (min-width: 1200px) {
    .text-container {
        margin: -76px 0 0 50px;
        padding: 20px;
    }
}
.subtext {
    font-size: 1rem;
}
.more-desc {
    font-size: 1.1rem;
    color: $white;
    font-family: Effra-Medium, Arial, Verdana;
    bottom: 0;
    position: absolute;
    padding-bottom: 20px;
    max-width: 75%;
    line-height: 1.3;
}
@media (min-width: 992px) {
    .more-desc {
        font-size: 1.2rem;
        max-width: 78%;
    }
}
@media (min-width: 1200px) {
    .more-desc {
        font-size: 1.25rem;
        max-width: 82%;
    }
}
.more-header {
    font-size: 1.5rem;
    text-transform: none;
    color: $primary;
    font-family: Effra-Medium, Arial, Verdana;
}
.ext {
    color: $white;
    bottom: 22px;
    position: absolute;
    right: 20px;
}
.orange-link {
    color: #ff7f33 !important;
    cursor: pointer !important;
}
.orange-link:hover {
    color: $primary !important;
    text-decoration: none !important;
    cursor: pointer !important;
}
.red-link {
    color: #ec4657 !important;
    cursor: pointer !important;
}
.red-link:hover {
    color: $primary !important;
    text-decoration: none !important;
    cursor: pointer !important;
}
.drag-prompt {
    float: right;
    font-size: 0.9rem;
    color: $primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    opacity: 0.75;
}
.clearing-open {
    text-align: center;
    color: #4a4a4a;
    letter-spacing: 1px;
    font-size: 32px;
    font-size: 2rem;
    margin-bottom: 10px;
    margin-top: 10px;
}
@media (min-width: 768px) {
    .clearing-open {
        font-size: 40px;
        font-size: 2.5rem;
    }
}
.bullets {
    font-size: 1.1rem;
    color: #434241;
    list-style: none;
    text-align: left;
    margin-left: -1rem;
}
@media (min-width: 768px) {
    .bullets {
        margin-left: 0;
    }
}
.bullets ::before {
    content: "\2022";
    color: $primary;
    font-weight: 700;
    display: inline-block;
    width: 1.25em;
    margin-left: -1.25em;
}
.m-small {
    margin-bottom: 0.25rem;
}
.covid {
    text-align: center;
    font-size: 1.5rem;
    text-transform: none;
    font-family: Effra-Medium, Arial, Verdana;
    color: $primary;
    margin-bottom: 2rem;
}
@media (max-width: 991.98px) {
    .covid {
        margin-top: 2rem;
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
    }
}
.navbar-brand img {
    max-height: 50px;
    padding: 8px 20px;
}
.footer-logo img {
    max-height: 60px;
    padding: 8px 20px;
    margin-bottom: 30px;
}
@media (min-width: 576px) {
    .footer-logo img {
        max-height: 65px;
        margin-bottom: 0;
    }
}
.zoom_animate {
    transform: scale(1);
    transition: 13s;
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: -1;
    max-width: none !important;
}

.h268 {
    height: 150px;
    padding: 15px;
    position: relative;
}
@media (min-width: 768px) {
    .h268 {
        height: 268px;
    }
}
.h268-col {
    padding: 10px;
}
.zoom_animate_img {
    transform: scale(1);
    transition: 13s;
    position: absolute;
    object-fit: cover;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 0;
    max-width: none !important;
}
.library {
    height: 550px;
}
.more .inner {
    box-sizing: border-box;
    min-width: 100%;
    min-height: 259px;
    padding: 25px;
    text-align: left;
    position: relative;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    transition: 0.3s;
}
.more .inner:hover {
    background: rgba(0, 0, 0, 0.5);
}
.more .inner a:focus {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}
.more .inner a.tg {
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: linear-gradient(180deg, transparent 23%, $black 100%);
}
.more .inner a.tg:hover {
    background-color: red;
}
.more .inner a.tg:focus {
    box-shadow: inset 0 0 0 4px rgba(255, 255, 255, 0.9);
    border-radius: 20px;
}
.more .inner a.tg div.more {
    position: absolute;
    display: block;
    bottom: 18px;
    left: 18px;
    right: 18px;
}
.more .more-card {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    background: linear-gradient(180deg, transparent 23%, $black 100%);
}



.overlay {
    height: 100%;
    width: 100%;
    max-width: 450px;
    position: fixed;
    z-index: 1090;
    right: 0;
    top: 0;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.65);
    overflow-x: hidden;
    display: none;
}
.overlay .overlay-content {
    position: relative;
    width: 100%;
    padding: 30px;
    height: 100%;
}
.overlay .overlay-content .row {
    height: 100%;
}
.overlay .overlay-content .row .courses_container .course_list {
    max-height: 250px;
    overflow: scroll;
}
.overlay .overlay-content .dropdown-item {
    white-space: pre-wrap;
}
.overlay .overlay-content .dropdown .dropdown-toggle::after {
    border: none;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    padding-left: 5px;
    content: "\f078";
    vertical-align: 0;
}
.overlay .overlay-content .dropup .dropdown-toggle::after {
    border: none;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    padding-left: 5px;
    content: "\f077";
    vertical-align: 0;
}
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder .filter-option {
    color: $white;
    text-align: center;
}
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder::after {
    color: $white;
}
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder:active .filter-option,
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder:focus .filter-option,
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder:hover .filter-option {
    color: $black;
    text-align: center;
}
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder:active::after,
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder:focus::after,
.overlay .overlay-content .bootstrap-select > .dropdown-toggle.bs-placeholder:hover::after {
    color: $black;
}
.overlay .overlay-content [aria-expanded="true"] .filter-option {
    color: $black !important;
    text-align: center;
}
.overlay .overlay-content [aria-expanded="true"]::after {
    color: $black !important;
}
.overlay .closebtn {
    position: absolute;
    top: 33px;
    right: 16px;
    z-index: 1901;
    color: $white;
    font-size: 1.5rem;
}
.mobile-nav-open {
    overflow: hidden;
}
.sticky-bottom {
    opacity: 0;
    width: 100%;
    bottom: -100px;
    position: -webkit-sticky;
    position: sticky;
    align-self: flex-end;
    transition: bottom 1s;
}
.sticky-bottom.slide_in {
    bottom: 30px;
    opacity: 1;
}
@media (min-width: 992px) {
    .sticky-bottom.slide_in {
        bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
}
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#hamburger_toggle i {
    font-size: 1.5rem;
}
.logo {
    display: inline-block;
    padding-left: 8px;
}
.logo img {
    width: 110px;
}
@media (min-width: 768px) {
    .logo img {
        width: 125px;
    }
}
#wrapper-footer .logo img {
    width: 110px;
}
@media (min-width: 768px) {
    #wrapper-footer .logo img {
        width: 150px;
    }
}
@media (max-width: 767.98px) {
    .wrapper-footer .logo {
        padding-left: 0;
    }
}
.bootstrap-select {
    margin-bottom: 0.5rem;
}
.bootstrap-select .dropdown-menu {
    min-width: 100% !important;
    border-radius: 0;
    border: 1px solid $white;
    margin-bottom: 0.5rem;
    z-index: 1903;
}
@media (min-width: 768px) {
    .bootstrap-select .dropdown-menu {
        min-width: 442px !important;
    }
}
.bootstrap-select .dropdown-menu li small {
    white-space: normal;
}
.bootstrap-select .dropdown-menu li a {
    padding: 1rem 1.5rem;
}
.bootstrap-select .dropdown-menu li + li {
    border-top: 1px solid rgba(41, 41, 40, 0.1);
}
.bootstrap-select .dropdown-menu .dropdown-item.active,
.bootstrap-select .dropdown-menu .dropdown-item:active {
    background-color: #e0303b;
    color: $white;
}
.bootstrap-select .dropdown-menu .dropdown-item:hover {
    background-color: #eaeaea;
    color: $black;
}
.bootstrap-select .dropdown-menu .bs-searchbox .form-control {
    border-radius: 30px;
    padding: 0.75rem 1rem;
}
.bootstrap-select .dropdown-menu .bs-searchbox .form-control:focus {
    border-color: #292928;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(41, 41, 40, 0.25);
}
.header-cta .bootstrap-select .dropdown-menu {
    margin-top: 1rem;
    right: 0;
    left: auto;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 30px;
}
.header-cta .bootstrap-select .dropdown-menu .inner {
    background-color: #f7f7f7;
}
.header-cta .bootstrap-select .dropdown-menu .bs-searchbox {
    background-color: #eaeaea;
    padding: 14px;
}
.dropdown.bootstrap-select.fit-width {
    margin-bottom: 0;
}
.navbar.fixed-top {
    padding-top: 35px;
    transition: all 0.5s;
}
@media (min-width: 768px) {
    .navbar.fixed-top {
        padding-top: 45px;
    }
}
.navbar.fixed-top img.standard {
    display: none;
    padding-top: 5px;
}
.navbar.fixed-top img.reversed {
    display: inline-block;
    width: 150px;
}
.navbar.fixed-top .btn-header {
    color: $white;
    border-color: $white;
    background: rgba(0, 0, 0, 0.25);
    padding: 0.6rem 1.25rem;
    text-align: center;
    border-radius: 30px;
    transition: 0.6s;
}
.navbar.fixed-top.scrolled .btn-header {
    background: 0 0;
}
.navbar.fixed-top.scrolled .btn-header:hover {
    background: $black;
    color: $off-white;
}
.navbar.fixed-top .btn-header:hover {
    color: #212529;
    background-color: $white;
    border-color: $white;
}
.navbar.fixed-top .btn-header.focus,
.navbar.fixed-top .btn-header:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.navbar.fixed-top .btn-header.disabled,
.navbar.fixed-top .btn-header:disabled {
    color: $white;
    background-color: transparent;
}
.navbar.fixed-top .btn-header:not(:disabled):not(.disabled).active,
.navbar.fixed-top .btn-header:not(:disabled):not(.disabled):active,
.show > .navbar.fixed-top .btn-header.dropdown-toggle {
    color: #212529;
    background-color: $white;
    border-color: $white;
}
.navbar.fixed-top .btn-header:not(:disabled):not(.disabled).active:focus,
.navbar.fixed-top .btn-header:not(:disabled):not(.disabled):active:focus,
.show > .navbar.fixed-top .btn-header.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.navbar.fixed-top .btn-header::after {
    content: none;
}
.navbar.fixed-top .btn-header .filter-option-inner-inner {
    text-align: center;
}
.navbar.fixed-top .btn-red {
    color: $white;
    border-color: $primary;
    background: $primary;
    padding: 0.6rem 1.25rem;
    text-align: center;
    border-radius: 30px;
    transition: 0.6s;
}
.navbar.fixed-top .btn-red:hover {
    color: $white;
    background-color: darken($primary, 20%);
    border-color: darken($primary, 20%);
}
.navbar.fixed-top .btn-red.focus,
.navbar.fixed-top .btn-red:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.navbar.fixed-top .btn-red.disabled,
.navbar.fixed-top .btn-red:disabled {
    color: $white;
    background-color: transparent;
}
.navbar.fixed-top .btn-red:not(:disabled):not(.disabled).active,
.navbar.fixed-top .btn-red:not(:disabled):not(.disabled):active,
.show > .navbar.fixed-top .btn-red.dropdown-toggle {
    color: #212529;
    background-color: $white;
    border-color: $white;
}
.navbar.fixed-top .btn-red:not(:disabled):not(.disabled).active:focus,
.navbar.fixed-top .btn-red:not(:disabled):not(.disabled):active:focus,
.show > .navbar.fixed-top .btn-red.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.navbar.fixed-top .btn-red::after {
    content: none;
}
.navbar.fixed-top .btn-red .filter-option-inner-inner {
    text-align: center;
}
@media (min-width: 992px) {
    .navbar.fixed-top #hamburger_toggle {
        display: none;
    }
}
.navbar.fixed-top.scrolled {
    padding: 0.75rem;
    background-color: $off-white !important;
    transition: background-color 0.2s linear;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
.navbar.fixed-top.scrolled img.standard {
    display: inline-block;
}
.navbar.fixed-top.scrolled img.reversed {
    display: none;
}
.navbar.fixed-top.scrolled i {
    padding-top: 5px;
}
.navbar.fixed-top.scrolled .btn-header:hover {
    color: $white;
    background-color: $black;
    border-color: $black;
}
.navbar.fixed-top.scrolled .btn-header.focus,
.navbar.fixed-top.scrolled .btn-header:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.navbar.fixed-top.scrolled .btn-header.disabled,
.navbar.fixed-top.scrolled .btn-header:disabled {
    color: $black;
    background-color: transparent;
}
.navbar.fixed-top.scrolled .btn-header:not(:disabled):not(.disabled).active,
.navbar.fixed-top.scrolled .btn-header:not(:disabled):not(.disabled):active,
.show > .navbar.fixed-top.scrolled .btn-header.dropdown-toggle {
    color: $white;
    background-color: $black;
    border-color: $black;
}
.navbar.fixed-top.scrolled .btn-header:not(:disabled):not(.disabled).active:focus,
.navbar.fixed-top.scrolled .btn-header:not(:disabled):not(.disabled):active:focus,
.show > .navbar.fixed-top.scrolled .btn-header.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}
.scroll-container {
    display: none;
    padding: 40px;
    margin-left: -15px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    color: $white;
}
@media (min-width: 576px) {
    .scroll-container {
        display: block;
    }
}
.scroll-container i {
    font-size: 2rem;
    line-height: 0.5;
    display: block;
    animation: fading 1.5s infinite;
}
.scroll-container i:nth-of-type(1) {
    animation-delay: 0.25;
}
.scroll-container i:nth-of-type(2) {
    animation-delay: 0.5s;
}
.scroll-container i:nth-of-type(3) {
    animation-delay: 0.75s;
}
@keyframes fading {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.btn {
    border-radius: 0;
    font-family: Effra-Medium, Arial, Verdana;
}
.btn-group-lg > .btn,
.btn-lg {
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}
.btn-white {
    color: #212529;
    background-color: $white;
    border: $white 2px solid;
    padding: 10px 32px;
    border-radius: 30px;
    font-size: 1.1rem;
}
.btn-white:hover {
    color: $white;
    background-color: rgba(0, 0, 0, 0.25);
    border: $white 2px solid;
}
.btn-white.focus,
.btn-white:focus {
    color: #212529;
    background-color: #ececec;
    border-color: #e6e6e6;
    box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5);
}
.btn-white.disabled,
.btn-white:disabled {
    color: #212529;
    background-color: $white;
    border-color: $white;
}
.btn-white:not(:disabled):not(.disabled).active,
.btn-white:not(:disabled):not(.disabled):active,
.show > .btn-white.dropdown-toggle {
    color: #212529;
    background-color: #e6e6e6;
    border-color: #dfdfdf;
}
.btn-white:not(:disabled):not(.disabled).active:focus,
.btn-white:not(:disabled):not(.disabled):active:focus,
.show > .btn-white.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(222, 222, 223, 0.5);
}
.btn-white-outline {
    color: $white;
    border-color: $white;
}
.btn-white-outline:hover {
    color: #212529;
    background-color: $white;
    border-color: $white;
}
.btn-white-outline.focus,
.btn-white-outline:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
    color: $white;
    background-color: transparent;
}
.btn-white-outline:not(:disabled):not(.disabled).active,
.btn-white-outline:not(:disabled):not(.disabled):active,
.show > .btn-white-outline.dropdown-toggle {
    color: #212529;
    background-color: $white;
    border-color: $white;
}
.btn-white-outline:not(:disabled):not(.disabled).active:focus,
.btn-white-outline:not(:disabled):not(.disabled):active:focus,
.show > .btn-white-outline.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
.btn-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
}
.btn-primary:hover {
    color: $white;
    background-color: $primary-dark;
    border-color: $primary-dark;
}
.btn-primary.focus,
.btn-primary:focus {
    color: $white;
    background-color: $primary-dark;
    border-color: $primary-dark;
    box-shadow: 0 0 0 0.2rem rgba(73, 7, 14, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
    color: $white;
    background-color: $primary;
    border-color: $primary;
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
    color: $white;
    background-color: $primary-dark;
    border-color: $primary-dark;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(73, 7, 14, 0.5);
}
.btn-secondary {
    color: $white;
    background-color: #292928;
    border-color: #292928;
}
.btn-secondary:hover {
    color: $white;
    background-color: #161615;
    border-color: #0f0f0f;
}
.btn-secondary.focus,
.btn-secondary:focus {
    color: $white;
    background-color: #161615;
    border-color: #0f0f0f;
    box-shadow: 0 0 0 0.2rem rgba(73, 73, 72, 0.5);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
    color: $white;
    background-color: #292928;
    border-color: #292928;
}
.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show > .btn-secondary.dropdown-toggle {
    color: $white;
    background-color: #0f0f0f;
    border-color: #090909;
}
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(73, 73, 72, 0.5);
}
.sticky-bottom .btn-block {
    max-width: 450px;
    margin: 0 auto;
}
.btn-group > .btn-group:not(:first-child) > .btn,
.btn-group > .btn-group:not(:last-child) > .btn,
.btn-group > .btn:not(:first-child),
.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
}
.btn-group > .btn-group:not(:first-child),
.btn-group > .btn:not(:first-child) {
    margin-left: 5px;
}
.btn-group-lg > .btn,
.btn-lg {
    padding: 0.75rem 1rem;
}
.btn .badge {
    font-family: Effra-Regular, Arial, Verdana;
    background-color: #4a4a4a;
    color: $white;
    margin-left: 15px;
    border-radius: 0;
}
.btn-card {
    color: #212529;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
    padding: 1.1rem 1.25rem;
    text-align: left;
    position: relative;
    color: #4a4a4a;
}
.btn-card:hover {
    color: #212529;
    background-color: #e5e5e5;
    border-color: #dfdfdf;
}
.btn-card.focus,
.btn-card:focus {
    color: #212529;
    background-color: #e5e5e5;
    border-color: #dfdfdf;
    box-shadow: 0 0 0 0.2rem rgba(216, 216, 217, 0.5);
}
.btn-card.disabled,
.btn-card:disabled {
    color: #212529;
    background-color: #f8f8f8;
    border-color: #f8f8f8;
}
.btn-card:not(:disabled):not(.disabled).active,
.btn-card:not(:disabled):not(.disabled):active,
.show > .btn-card.dropdown-toggle {
    color: #212529;
    background-color: #dfdfdf;
    border-color: #d8d8d8;
}
.btn-card:not(:disabled):not(.disabled).active:focus,
.btn-card:not(:disabled):not(.disabled):active:focus,
.show > .btn-card.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(216, 216, 217, 0.5);
}
.btn-card i.fa-angle-right {
    position: absolute;
    top: 50%;
    right: 30px;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
@media (min-width: 768px) {
    .tns-nav {
        float: right;
        position: absolute;
        top: -0.65rem;
        right: 9px;
    }
}
.tns-nav button {
    background-color: #e9eae8;
    border: none;
    padding: 10px;
    margin-right: 6px;
    margin-top: 20px;
}
.tns-nav button:hover {
    background-color: $primary-dark !important;
}
.tns-nav-active {
    background-color: $primary !important;
}
.tns-nav-active:hover {
    background-color: $primary-dark !important;
}
.popup-button {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    padding: 8px 14px;
}
.open .dropdown-toggle.popup-button,
.popup-button.active,
.popup-button:active,
.popup-button:focus,
.popup-button:hover {
    color: $white;
    background-color: $primary;
    border-color: $primary;
}
.open .dropdown-toggle.popup-button,
.popup-button.active,
.popup-button:active {
    background-image: none;
}
.popup-button.disabled,
.popup-button.disabled.active,
.popup-button.disabled:active,
.popup-button.disabled:focus,
.popup-button.disabled:hover,
.popup-button[disabled],
.popup-button[disabled].active,
.popup-button[disabled]:active,
.popup-button[disabled]:focus,
.popup-button[disabled]:hover,
fieldset[disabled] .popup-button,
fieldset[disabled] .popup-button.active,
fieldset[disabled] .popup-button:active,
fieldset[disabled] .popup-button:focus,
fieldset[disabled] .popup-button:hover {
    background-color: $primary-dark;
    border-color: $primary-dark;
}
.popup-button .badge {
    color: $primary;
    background-color: transparent;
}
.btn-group-lg > .btn,
.btn-lg {
    border-radius: 0;
}
.stripes_animation {
    background-image: url(../assets/images/stripes/stripes_mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
@media (min-width: 768px) {
    .stripes_animation {
        background-image: url(../assets/images/stripes/stripes.png);
    }
}
.skiplinks__link {
    background: $primary;
    color: $white;
    padding: 10px;
    position: absolute;
    transform: translateY(-150%);
    transition: transform 0.3s;
    margin-left: 15px;
    margin-top: 15px;
}
.skiplinks__link:focus {
    transform: translateY(0);
}
.popover-header {
    text-align: center;
    padding: 0.75rem 1.5rem;
}
.header-cta .bootstrap-select .dropdown-menu {
    width: 100%;
    width: calc(100vw - 30px);
    max-width: 350px;
}
.bootstrap-select .dropdown-menu li a {
    white-space: inherit;
}

