.slider-container{
	
	overflow: hidden;
	
	.sr-only-focusable:focus.skip-link {
		
		position: relative;
		display: inline-block;
		margin: 10px auto 25px;		
		outline: 2px dashed $primary;
		border-color: $primary;		
		top: 0;
	
	}
	
	.slider{

		visibility: hidden;

		&.slick-initialized{
			visibility: visible;
		}


		.slick-list{

			overflow: visible;

			margin-left: -5px;
			margin-right: -5px;

			.slick-track{
				margin-left: 0;
			}


			.slick-slide{
				padding: 0 5px;
			}

			.slick-slide[aria-hidden="true"]{
				opacity: 0.5;
			}

		}

		.slick-prev, .slick-next{
			opacity: 0;
			z-index: 1;


			.slick-prev-icon, .slick-next-icon{
				color: $primary;
				font-size: 24px;
			}

			&:focus{
				opacity: 1;

				outline: 2px dashed $primary;
				outline-offset: 5px;	

			}


		}

		.slick-dots{

			display: flex;

			border-bottom: 2px;

			li{
				display: inline-flex;
				width: auto;
				max-width: 100%;	

				-ms-flex-preferred-size: 0;
				flex-basis: 0;
				-ms-flex-positive: 1;
				flex-grow: 1;		

				margin: 0;

				button{

					width: 100%;
					border-bottom: 1px solid $black;

					&[aria-current="true"]{
						border-bottom: 6px solid $black;
					}

					.slick-dot-icon{
						display: none;
					}


					&:focus, &:hover{
						border-bottom: 4px solid rgba( $black , 0.6 );
					}					
					&:focus{
						-webkit-appearance: none;
						outline: 2px dashed $primary;
						outline-offset: 5px;
					}					

				}

			}

		}	



		.item{

			overflow: visible;
			display: block;
			box-sizing: border-box;
			min-width: 100%;
			min-height: 259px;
			position: relative;

			a.internal_link, a.external_link, a.plyr_load_in {

				display: block;
				border-radius: $radius;
				min-height: 259px;
				position: relative;
				height: 100%;
				width: 100%;
				z-index: 1;
				transition: 0.25s ease-in-out;
				padding: 20px;
				overflow: visible;

				&:hover{
					background-color: rgba($black,0.25);
				}

				&:focus{
					background-color: rgba($black,0.25);
					outline: 2px dashed $primary;
					outline-offset: 5px;
					transition:none;
				}
			}			

			.picture_wrap{
				background-color: rgba($black,0.35);
				transition: 0.25s ease-in-out;
				position: absolute;
				height: 100%;
				width: 100%;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				border-radius: $radius;
				overflow: hidden;
			}	

		}

	}

}
