h2.nav-title{
    font-size: 2rem;
    margin-top: 1.5rem;
	color: $primary-dark;
}

.cta-subheading{
    font-family: Effra-Medium, Arial, Verdana;
    font-size: 1.6rem;
}
@media (min-width: 1200px) {
     .cta-subheading{
        font-size: 1.8rem;
    }
}

.mid-section p {
    color: $grey-light;
    font-size: 1.1rem;
    line-height: 1.5;
}


.mid-section .intro {
    font-size: 1.25rem;
}

.off-white{

	&.mid-section p {
		color: $grey-dark;
	}
	
	h2.subheading{
		font-family: Effra-Medium, Arial, Verdana;
		font-size: 1.6rem;
		
		@include media-breakpoint-up(lg) {
       		font-size: 1.8rem;
    	}
	}
	
	.uor-logo{
		max-width: 175px;
		
		@include media-breakpoint-up(sm) {
			max-width: 200px;
		}
				
		@include media-breakpoint-up(md) {
			max-width: 225px;
		}				
		
		@include media-breakpoint-up(lg) {
			max-width: 250px;
		}
		
	}
	
	.red-header{
		color: $primary;
		font-size: 1.75rem;
		
		@include media-breakpoint-up(sm) {
			font-size: 2rem;
		}
					
		@include media-breakpoint-up(md) {
			font-size: 2rem;
		}
				
		@include media-breakpoint-up(lg) {
			font-size: 2.5rem;
		}	
		
		@include media-breakpoint-up(xl) {
			font-size: 3rem;
		}		
		
		@include media-breakpoint-up(xxl) {
			font-size: 3.5rem;
		}
		
	}
	
	

}

.header h1 {
    font-family: Effra-Heavy, Arial, Verdana;
	text-align: center;
	font-size: 2.5rem;
    line-height: 1.1;
	text-shadow: 2px 2px 20px rgba(#000000, 0.5);
	
	@include media-breakpoint-up(sm) {
    	font-size: 3rem;
	}	
	
	@include media-breakpoint-up(md) {
    	font-size: 3.25rem;
	}		
	
	@include media-breakpoint-up(lg) {
    	font-size: 4rem;
	}		
	
	@include media-breakpoint-up(xl) {
    	font-size: 5rem;
	}	
	
}

.header .subhead {
    font-family: Effra-Medium, Arial, Verdana;
    font-size: 1.6rem;
	
	@include media-breakpoint-up(md) {
    font-size: 1.8rem;
	}
	
	@include media-breakpoint-up(lg) {
		font-size: 2.25rem;
	}
}

