$radius : 21px !default;

$primary : #CE0B1E;
$primary-dark : #AE091A;
$black : #000;
$white : #fff;
$grey-light : #ccc;
$grey-dark : #50535a;
$light : $grey-light;
$dark : $grey-dark;
$off-white : #FFF8EB;

$theme-colors: (
  "primary":    $primary,
  "light":      $light,
  "dark":       $dark,
  "black":      $black,
  "white":      $white,
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1440px
) !default;